@charset "UTF-8";

/* Name: Clint Kuhl
    Assignment: Live Bait
    Date: 07.21.2020
    Filename: Styles.css
    */
/* CSS Variables */
:root {
    --navy: rgb(37, 42, 55);
    --yellow: rgb(244, 213, 41);
    --primary: #34534B;
    --raw: #85624A;
    --plat: #E8E9EB;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --dark: #333;
    --light: #fff;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--plat);
    margin: 0px;
}

body, html {
    height: 100%;
    color: var(--primary);
}

.hdrs {
    text-align: center;
    display: block;
    margin: 0px;
    padding: 0px;
    line-height: 180%;
    text-transform: uppercase;
}

.didja {
    padding-top: 50px;
}

.knowus {
    margin-top: 100px;
}

h1 {
    font-size: 6rem;
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
    color: var(--raw);
    margin: 0px;
}

h2 {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.navbar {
    background-color: var(--navy);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.blank {
    width: 500px;
}

.navbar ul {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    padding: 0;
    grid-template-areas: 'logo1 logo2 blank item1 item2 item3';
    /* divides into 4 equal columns, each piece takes up one of those 4 columns (1fr) */
}

.navlogo img {
    height: 80px;
    width: auto;
    padding: 0px;
    padding-top: 0px;
}

.navbar a {
    background: var(--navy);
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    /*This element will be displayed not inline with other elements, takes up the whole width of this element*/
    color: var(--yellow);
    text-align: center;
    /* padding: 14px 16px; */
    font-size: 3.5rem;
    font-family: 'East Sea Dokdo', cursive;
    text-decoration: none;
}

.navbar a:hover {
    color: #71B48D;
    /* color: #63A088; */
    /* color: #FA8334; */
}

.navitem {
    padding-top: 10px;
}

.logo1 {
    grid-area: logo1;
}

.logo2 {
    grid-area: logo2;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.blank {
    grid-area: blank;
}

.fas {
    padding: 5px;
    font-size: 4.0rem;
}

/*Links in the navbar*/
/* .navbar a {
    display: flex;
    align-items: center;
    color: var(--yellow);
    text-align: center;
    font-size: 3.5rem;
    font-family: 'East Sea Dokdo', cursive;
    text-decoration: none;
} */
/* Grid Styles */
.wrapper {
    display: grid;
    grid-gap: 20px;
}

.top-container {
    display: grid;
    grid-gap: 40px;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-areas:
        'showcases showcases top1';
    padding: 3rem;
}

.shift {
    position: relative;
    top: 10%;
}

.showcase {
    /* grid-row: 1/3; */
    grid-area: showcases;
    min-height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/flyfishingsunlight.jpg");
    background-size: cover;
    padding: 3rem;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 6.5rem;
    font-family: Cabin, sans-serif;
    color: var(--light);
}

.top-box p {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary);
    margin-top: 0px;
    padding: 40px;
    text-align: justify;
}

.top-box-a {
    grid-area: top1;
}

.top-box {
    background: var(--plat);
    display: grid;
    justify-items: center;
    /* Centers the items within their grid box */
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.art1 {
    grid-area: art1;
}

.art2 {
    grid-area: art2;
}

.art3 {
    grid-area: art3;
}

.articles {
    display: grid;
    grid-gap: 80px;
    grid-template-areas: 'art1 art2 art3';
    padding: 5rem;
}

.articl {
    background-color: var(--light);
}

.articl img {
    width: 100%;
}

.articl h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Cabin, sans-serif;
    color: var(--primary);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.articl p {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    font-size: 2rem;
    margin-left: 37%;
}

.arttxt {
    margin-top: 3rem;
    margin-left: 15px;
    margin-right: 15px;
    padding: 3rem;
    border: .5px solid var(--raw);
}

/*Fishing page */
.fishing-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url("images/fishing-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.cols {
    margin-top: 20px;
    flex-basis: 40%;
    background-color: rgba(192, 192, 192, 0.85);
    padding: 20px;
    margin-left: 6%;
}

.cols p {
    font-size: 2rem;
    text-align: center;
}

.rodsnreels img {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-bottom: 20px;
}

/* Hero Styles */
.hero-image {
    /* Set a specific height*/
    height: 60%;
    /*half the screen size*/
    /* Position and center the image to scale nicely on all screens*/
    background-position: center;
    /*sets the focal point on the original image*/
    background-repeat: no-repeat;
    /*do not repeat the image*/
    background-size: cover;
    /*this image covers its entire container*/
    position: relative;
}

.hero1 {
    background-image: url("images/onthehook.jpg");
}

.hero2 {
    background-image: url("images/rinsefish.jpg");
}

.hero-image h1 {
    font-family: 'Cabin', sans-serif;
    color: var(--light);
    font-size: 7rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Table Styles */
table {
    margin: auto;
}

table, th, td {
    border: 2px LightGray solid;
    font-size: 1.7rem;
    color: var(--raw);
    font-family: 'Josefin', sans-serif;
}

.tblhdr {
    color: var(--primary);
    font-size: 2.0rem;
}

td {
    padding: 5px;
}

/*Footer*/
footer {
    background: var(--navy);
    color: var(--yellow);
    text-align: center;
    padding: 1rem;
}

footer p {
    font-family: 'east sea dokdo', cursive;
    font-size: 2.0rem;
}

/*Location styles */
.locale {
    margin: 10px;
    padding: 20px;
    border: .5px solid var(--raw);
}

.locale iframe {
    display: block;
    margin: auto;
    padding: 40px;
}

.i2 {
    display: none;
}

/* Media Queries */
@media screen and (max-width:1400px) {
    .navbar ul {
        grid-template-areas: none;
        grid-template-columns: repeat(5, 1fr);
        /* divides into 5 equal columns, each piece takes up one of those 4 columns (1fr) */
    }

    .logo1 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .logo2 {
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .item1 {
        grid-column-start: 3;
        grid-column-end: 3;
    }

    .item2 {
        grid-column-start: 4;
        grid-column-end: 4;
    }

    .item3 {
        grid-column-start: 5;
        grid-column-end: 5;
    }

    .blank {
        width: 0px;
        display: none;
        grid-area: none;
    }

    .btn {
        display: block;
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width:1015px) {
    .logo1, .logo2 {
        display: none;
        grid-area: none;
    }

    .navbar ul {
        grid-gap: 0px;
        grid-template-columns: auto;
        grid-template-areas:
            'item1 item2 item3'
    }

    .top-container {
        grid-template-areas:
            'showcases'
            'top1';
    }

    .articles {
        grid-template-areas:
            'art1'
            'art2'
            'art3';
    }

    .fishing-container {
        flex-direction: column;
    }

    .locale {
        padding: 3px;
    }

    .i1 {
        display: none;
    }

    .i2 {
        display: block;
    }
}
}
